<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084350328261-i6fnf3q59mgi9277t1m11g37kn1mbom3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084350328261-i6fnf3q59mgi9277t1m11g37kn1mbom3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7mI6H1dLCGLmi2-XBI9qTzjIJXr_xPpg</string>
	<key>GCM_SENDER_ID</key>
	<string>1084350328261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.efemazieri.dictionary</string>
	<key>PROJECT_ID</key>
	<string>dictionary-coodesh</string>
	<key>STORAGE_BUCKET</key>
	<string>dictionary-coodesh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084350328261:ios:34492144d834855c13efac</string>
</dict>
</plist>